.text-region{
    display: flex;
    justify-content: center;
}
textarea{
    width: 80%;
    height: 12rem;
    background-color: #001421;
    color:white;
    font-family: "Comic Sans MS";
    font-size: 18px;
    outline-style: none;
    border-radius: 10px;
    margin:15px 0;
}
.label label {
    font-family: "Maiandra GD";
    font-weight: 300;

}